<div>
    <h2>Chats</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="chat.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Chat
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="message"><span>Message</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="messageDate"><span>Message Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chatSession.id"><span>Chat Session</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="messageFrom.id"><span>Message From</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="messageTo.id"><span>Message To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="chat in vm.chats track by chat.id">
                    <td><a ui-sref="chat-detail({id:chat.id})">{{chat.id}}</a></td>
                    <td>{{chat.message}}</td>
                    <td>{{chat.messageDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="chat-session-detail({id:chat.chatSession.id})">{{chat.chatSession.id}}</a>
                    </td>
                    <td>
                        {{chat.messageFrom.id}}
                    </td>
                    <td>
                        {{chat.messageTo.id}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="chat-detail({id:chat.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chat.edit({id:chat.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="chat.delete({id:chat.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
