<nav class="navbar navbar-default" role="navigation">
	<div class="top-menu clear">
		<div class="top-menu-left">
			<div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed">
				<ul class="nav navbar-nav navbar-right">
					<li ui-sref-active="active"><a ui-sref="home"
						ng-click="vm.collapseNavbar()"> <span
							class="glyphicon glyphicon-home"></span> <span class="hidden-sm">Home</span>
					</a></li>
					<li ui-sref-active="active"><a ui-sref="services"
						ng-click="vm.collapseNavbar()"> <span
							class="glyphicon glyphicon-cogwheels"></span> <span
							class="hidden-sm">Services</span>
					</a></li>
					<li ui-sref-active="active"><a ui-sref="contactus"
						ng-click="vm.collapseNavbar()"> <span
							class="glyphicon glyphicon-earphone"></span> <span
							class="hidden-sm">Contact Us</span>
					</a></li>
					<li ui-sref-active="active"><a ui-sref="faq"
						ng-click="vm.collapseNavbar()"> <span
							class="glyphicon glyphicon-user-conversation"></span> <span
							class="hidden-sm">FAQs</span>
					</a></li>
					
					
					
				</ul>
			</div>
			</div>
			
			
			<div class="top-menu-right dropdown">
			<div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed"
				ng-switch="vm.isAuthenticated()">
				<ul class="nav navbar-nav navbar-right">
			<li ng-class="{active: vm.$state.includes('account')}" uib-dropdown
						class="dropdown pointer"><a class="dropdown-toggle"
						uib-dropdown-toggle href="" id="account-menu"> <span> <span
								class="glyphicon glyphicon-user"></span> <span class="hidden-sm">
									Account </span> <b class="caret"></b>
						</span>
					</a>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li ui-sref-active="active" ng-switch-when="true"><a
								ui-sref="settings" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-wrench"></span>&nbsp; <span>Settings</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="true"><a
								ui-sref="password" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-lock"></span>&nbsp; <span>Password</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="true"><a
								ui-sref="sessions" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-cloud"></span>&nbsp; <span>Sessions</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="true"><a href=""
								ng-click="vm.logout()" id="logout"> <span
									class="glyphicon glyphicon-log-out"></span>&nbsp; <span>Sign
										out</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="false"><a
								href="" ng-click="vm.login()" id="login"> <span
									class="glyphicon glyphicon-log-in"></span>&nbsp; <span>Sign
										in</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="false"><a
								ui-sref="register" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-plus-sign"></span>&nbsp; <span>Register</span>
							</a></li>
						</ul></li></ul></div>
						</div>
		
	</div>
</nav>
